{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ae8e481308.js" crossorigin="anonymous"></script>
    <title>HomePage</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/dashboard.css' %}">

</head>
<body>
    
    <header>
    
         <div class="main_log">
            <a href="{% url 'ulogout' %}">Logout</a>
         </div>
        
        <div class="logo">
            RentSpot
        </div>
        <div class="nav">
            <ul class="links">
                <li><a href="{% url 'index'%}">HOME</a></li>
                <li><a href="{% url 'listing' %}">List Room</a></li>
                <li><a href="{%url 'userlist' %}">UserList</a></li>
                <li><a href="">CONTACT</a></li>
            </ul>
        </div>
    </header>
    <div class="image_section">
        <form class="Search_bar">
        <input type="" placeholder="Search for room"> 
        <button><svg width="40" height="40" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M48.3301 42.5215C49.1914 43.4785 49.1914 44.9141 48.2344 45.7754L45.5547 48.4551C44.6934 49.4121 43.2578 49.4121 42.3008 48.4551L32.8262 38.9805C32.3477 38.502 32.1562 37.9277 32.1562 37.3535V35.7266C28.7109 38.4062 24.5 39.9375 19.9062 39.9375C8.90039 39.9375 0 31.0371 0 20.0312C0 9.12109 8.90039 0.125 19.9062 0.125C30.8164 0.125 39.8125 9.12109 39.8125 20.0312C39.8125 24.7207 38.1855 28.9316 35.6016 32.2812H37.1328C37.707 32.2812 38.2812 32.5684 38.7598 32.9512L48.3301 42.5215ZM19.9062 32.2812C26.6055 32.2812 32.1562 26.8262 32.1562 20.0312C32.1562 13.332 26.6055 7.78125 19.9062 7.78125C13.1113 7.78125 7.65625 13.332 7.65625 20.0312C7.65625 26.8262 13.1113 32.2812 19.9062 32.2812Z" fill="black"/>
            </svg></button>
              
        </form>  
    </div>
    <div class="gallery_1">
        {% for data in datas %}
        <div class="room-card">
            <img src="/media/{{ data.image }}" alt="{{ data.name }}">
            <div class="room-info">
                <h3>{{ data.name }}</h3>
                <p>{{ data.address }}</p>
            </div>
            {% if data.user == user %}
            <a href="{% url 'editlist' data.id %}">Edit</a> <br>
            <a href="{%url 'deletelist' data.id %}">Delete</a>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    </div>
    <footer >
        <div class="col-1">
            <h3> USEFUL LINK</h3>
            <a href="index.html">HOME</a></li>
            <a href="ListRoom">LISTROOM</a></li>
            <a href="AboutUs">ABOUTUS</a></li>
            <a href="./contact us/contact.html">CONTACT</a></li>
        </div>
        <div class="col-2">
            <h3>NEWLETTER</h3>
            <form class="form-1">
                <input type="email" placeholder="Your Email address" required>
                <br>
                <button type="submit"> SUSCRIBE</button>
            </form>
        </div>
        <div class="col-3">
            <h3>Contact</h3>
            <P>swimming pool , satdobato</P>
            <div class="social-icon">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-github"></i>
            </div>
        </div>
    </footer>
</body>
</html>